{{#if home.show_noscript}}
<noscript>
  <meta http-equiv="refresh" content="0; URL=/?_ta_noscript=1">
</noscript>
{{/if}}
<div class="content main">
  <div class="row">
    <div class="col l9 m12 s12">
      <div id="no-record-support" class="red-text" style="display:none;">
        Your current browser does not support audio recording.
        See which <a href="{{main.faq_url}}#1">browsers support 
        audio recording</a>.
      </div>
      {{#if home.show_noscript_message}}
      <div class="red-text">
        Your current browser does not support Javascript or is disactivated for this page. Some features may not work without Javascript.
      </div>
      {{/if}}
      {{!
        Post box
      }}
      <div class="box">

        <div class="row post-box" id="post-box">
          <div
          class="col post-record"
          id="post-record"
          title="Record audio with your microphone">
            <i class="fa fa-microphone blue-text lighten-3-text"></i>
            <p class="post-action-text" unselectable="on">
              record
            </p>
          </div>
          <div class="col post-or" id="or">or</div>
          <div
          class="col post-upload"
          id="post-upload"
          title="Upload a file from your computer"
          >
            <i class="fa fa-upload blue-text lighten-3-text"></i>
            <p class="post-action-text" unselectable="on">
              upload
            </p>
          </div>
        </div>

        <div
        id="waiting-box"
        class="valign-wrapper waiting-box"
        style="display:none">
          <div class="valign waiting-text">
            <i class="fa fa-refresh fa-spin"></i>&nbsp;
            Waiting for microphone access...
          </div>
        </div>

        <div
        id="uploading-box"
        class="uploading-box"
        style="display:none">
          <p class="uploading-text" id="uploading-text">
            Uploading...
          </p>
          <div class="progress blue lighten-4">
            <div
            class="determinate blue"
            id="uploading-progress"
            style="width: 0%">
            </div>
          </div>
        </div> <!-- .uploading -->

        <div id="record-box" class="record-box" style="display:none">
          <div>
            You can record up to
            <span id="record-max-limit">
              {{user.audio_duration_minutes_limit}}
            </span>
            minutes.
          </div>
          <span id="record-countdown">
            Recording in
              <span id="record-countdown_number">3</span>
              ...
          </span>
          <hr>
          <div class="record-actions">
            <i
            class="fa fa-stop record-stop"
            title="Stop"
            id="record-stop"></i>&nbsp;
            <span
            class="record-count"
            id="record-count">
              0:00
            </span><!-- .record-count -->
            <span
            id="record-cancel"
            class="record-cancel"
            title="Cancel">
              <i class="fa fa-times-circle"></i>
              &nbsp;Cancel
            </span><!-- .record-cancel -->
          </div> <!-- .record-actions -->
        </div> <!-- .record-box -->

        {{! to upload audio files }}
        <form
        method="POST"
        action="{{main.ajax_url}}post/upload"
        enctype="multipart/form-data"
        id="upload-form"
        class="upload-form"
        style="display:none;"
        >
          <input
          type="file"
          id="upload-file"
          name="up_file"
          class="upload-file"
          accept=".mp3,.ogg"
          >
        </form>

        <form
        method="POST"
        action="{{main.ajax_url}}post/cut"
        id="cut-form"
        class="cut-form"
        style="display:none">
          <p class="center">
            This audio lasts longer than your current limit's, please cut it.
          </p>

          {{! the player to preview the audio before cutting }}
          {{{get_partial 'player' home.cut_player}}}

          <input type="hidden" name="id" id="cut-audio_id">
          <div class="cut-inputs">
            Start: <input
                  type="text"
                  id="cut-start"
                  name="start"
                  value="0:00"
                  >
            |
            End: <input
                type="text"
                name="end"
                id="cut-end"
                value="{{home.minutes_length}}:00"
                >
          </div>
          <hr>
          <button
          type="submit"
          class="btn"
          id="cut-button"
          class="cut-button"
          >
            <i class="fa fa-scissors"></i>
            &nbsp;Cut
          </button>

          <button
          type="button"
          id="cut-cancel"
          class="btn">
            <i class="fa fa-times-circle"></i>&nbsp;
            Cancel
          </button>

        </form><!-- .cut-form -->

        <form
        method="POST"
        action="{{main.ajax_url}}post/post"
        id="post-form"
        style="display:none">

          <p class="center">Your audio is ready!</p>

          {{! the preview player }}
          {{{get_partial 'player' home.preview_player}}}


          <input type="hidden" name="id" id="post-audio_id">
          <input type="hidden" name="effect" id="post-audio_effect"
          value="original">

          <div class="input-field post-description-box">
            <textarea
            maxlength="200"
            id="post-input-description"
            class="materialize-textarea post-input-description"
            name="description"></textarea>
            <label for="post-description-input">
              <i class="fa fa-pencil"></i>
              &nbsp;Type a description
            </label>
          </div>

          <div class="post-footer">

            <div class="post-send_to_twitter-box left">
              <input type="hidden" name="s_twitter" value="0">
              <input
              type="checkbox" class="filled-in"
              id="send_to_twitter" checked="checked"
              name="s_twitter" value="1"
              >
              <label for="send_to_twitter">
                Send to Twitter
              </label>
            </div>

            <div class="right">
              <a
              class="waves-effect
              waves-light btn modal-trigger"
              href="#effects"
              >
                <i class="fa fa-magic"></i>
                &nbsp;Add Effects
              </a>
            </div>
          </div> <!-- post footer -->
          <hr>
          <div class="post-buttons">
            <button class="btn" type="submit">
              Post&nbsp;
              <i class="fa fa-send"></i>
            </button>
            |
            <button type="button" id="post-cancel" class="btn">
              Cancel&nbsp;
              <i class="fa fa-times-circle"></i>
            </button>
          </div><!-- post-buttons -->
        </form>
      </div>
      {{! modal for effects }}
      <div
      id="effects"
      class="modal modal-fixed-footer effects">
        <div class="modal-content">
          <h4>Add Effects</h4>
          <div class="divider"></div>
          <!-- copy and edit this in order to display the effects -->
          <div id="effect-none" class="effect-preview-box" style="display:none">
            <h5>Effect None</h5>
            <div class="effect-loading">
              <i class="fa fa-spinner fa-spin"></i>&nbsp;
              Loading effect...
            </div>
            <div class="effect-preview" style="display:none">
              {{{get_partial 'player' home.effects_player}}}
                <button
                type="button"
                class="btn effect-action-choose effect-none"
                data-choose="effect-none"
                >
                  Choose
                </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
          href="javascript:void(0)"
          class="modal-action modal-close waves-effect waves-blue
          btn-flat effect-action-choose effect-original"
          data-choose="original">
                Use the original
          </a>
        </div>
      </div>
      {{! / modal for effects }}
      <div class="row">
        <div class="col l6 m12 s12">
          <div class="box">
            <p class="title">
              Your recent audios
            </p>
          {{#each home.recent_audios}}
            {{{get_partial 'audio'}}}
          {{else}}
            {{{alert_info 'You have no recent audios ¯\_(ツ)_/¯'}}}
          {{/each}}
          </div>
        </div>
        <div class="col l6 m12 s12">
          <div class="box">
            <p class="title">
              Popular audios right now
            </p>
          {{#each home.recent_popular}}
            {{{get_partial 'audio'}}}
          {{else}}
            {{{alert_info
              'There are not popular audios right now. ¯\_(ツ)_/¯'
            }}}
          {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col l3 m12 s12">
      {{{get_partial 'sidebar'}}}
    </div>
  </div>
</div>