{{!
  The template for profiles :)
}}
<div class="content main">
  <div class="row">
    <div class="col l9 m12 s12">
      <div class="box">
        <img
        src="{{profile.user.avatar_big}}"
        class="circle z-depth-3 materialboxed profile-picture"
        data-caption="{{profile.user.username}} profile picture"
        onerror="this.src='{{get_image 'unknown.png'}}'; $(this).removeClass('materialboxed')"
        >
        <h5 class="profile-name">
          {{profile.user.name}}
          {{{show_verified_badge profile.user.is_verified}}}
        </h5>
        <p class="grey-text lighten-2-text profile-user">
          @{{profile.user.username}}
        </p>
        <div class="profile-bio">
          {{profile.user.bio}}
        </div>
        <ul class="tabs profile-navigation">
          <li class="tab">
            <a
            {{#if profile.is_audios}}
            class="blue-text active"
            {{else}}
            class="blue-text"
            {{/if}}
            href="{{profile.user.profile_url}}"
            >
            Audios&nbsp;
            {{#if profile.audios}}
              <span class="_badge blue lighten-2">
                {{profile.total_audios}}
              </span>
            {{/if}}
            </a>
          </li>
          <li class="tab">
            <a
            {{#if profile.is_favorites}}
            class="blue-text active"
            {{else}}
            class="blue-text"
            {{/if}}
            href="{{profile.user.favorites_url}}">
            Favorites&nbsp;
            {{#if profile.audios}}
              <span class="_badge yellow darken-2">
                {{profile.total_favorites}}
              </span>
            {{/if}}
            </a>
          </li>
        </ul>
        <div
        {{#if profile.is_audios}}
        id="audios"
        {{else}}
        id="favorites"
        {{/if}}
        >
      {{#if profile.is_forbidden}}
        {{{alert_error profile.errors.forbidden}}}
      {{else}}
        {{#each profile.audios.audios}}
          {{{get_partial 'audio'}}}
        {{else}}
          {{{alert_info profile.errors.empty}}}
        {{/each}}
      {{/if}}
        </div>
      </div>
    </div>
    <div class="col l3 m12 s12">
      {{{get_partial 'sidebar'}}}
    </div>
  </div>
</div>
{{#if profile.audios.load_more}}
<script type="text/javascript">
window.loadMore = {
  // url
  toLoad   : '{{profile.page}}',
  // selector to insert
  selector : '#{{profile.page}}',
  // data to send
  data     : {
    user  : '{{profile.user.username}}',
    p     : 1
  }
};
</script>
{{/if}}