<div class="content main">
  <div class="row">
    <div class="col l9 m12 s12">
      <div class="box">
        <form method="GET" action="{{main.search_url}}">
          <div class="input-field">
            <input type="text" class="validate" name="q" id="s">
            <label for="s">
              <i class="fa fa-search"></i>
              &nbsp;Search...
            </label>
          </div>
          <div class="search-options">
          {{! options can't have tabs or spaces :C }}
            <div class="input-field col s3 left">
              <select id="search-type" name="t">
                <option
                value="a"
                {{#if search.is_audios}}
                selected="selected"
                {{/if}}
                >Audios</option>
                <option value="u"
                {{#if search.is_users}}
                selected="selected"
                {{/if}}
                >Users</option>
              </select>
              <label>Type</label>
            </div>
            <div class="input-field col s3 right">
              <select
              id="search-sort"
              name="s"
              {{#if search.is_users}}
              {{! users aren't sort }}
              disabled="disabled"
              {{/if}}
              >
                <option
                value="d"
                {{#if search.by_date}}
                selected="selected"
                {{/if}}
                >Date</option>
                <option
                value="p"
                {{#if search.by_plays}}
                selected="selected"
                {{/if}}
                >Plays</option>
              </select>
              <label>Sort</label>
            </div>
            </div>
            <button
            type="submit"
            class="search-submit waves-effect waves-light btn blue lighten-1"
            >
              Search
            </button>
          </form>
          <div class="divider search"></div>
          <p class="title">Results</p>
          <div id="search">
          {{#if search.query}}
          {{! query is not empty! }}
            {{#if search.results.audios}}
              {{! there are results}}
              {{!
                can't place the IF inside the loop
              because the context changes ;-;!
              }}
              {{#if search.is_audios}}
                {{#each search.results.audios}}
                  {{{get_partial 'audio'}}}
                {{/each}}
              {{else}}
                {{#each search.results.audios}}
                  {{{get_partial 'user'}}}
                {{/each}}
              {{/if}}
              
            {{else}} {{! / there are results }}
            <p class="center grey-text">
              We could not find anything. ¯\_(ツ)_/¯
            </p>
            {{/if}}
          {{else}} {{! / query is not empty }}
            <p class="center grey-text">
              Type something in the search box.
              The results will appear here.
            </p>
          {{/if}}
          </div>
        </div>
    </div>
    <div class="col l3 m12 s12">
      {{{get_partial 'sidebar'}}}
    </div>
  </div>
</div>
{{#if search.query}}
<script type="text/javascript">
window.onLoadFunctions.push( function() {
  // this may be ridiculous until you read this lmgtfy.com/?q=xss
  $("#q, #s").val( decodeURIComponent("{{search.query_urlencoded}}") );
  $("#q, #s").addClass('valid');
  $("label[for='s'], label[for='q']").addClass('active');
});

{{#if search.results.load_more}}
window.loadMore = {
  // url
  toLoad   : 'search',
  // selector to insert
  selector : '#search',
  // data to send
  data     : {
    q : decodeURIComponent('{{search.query_urlencoded}}'),
    t : '{{search.results.type}}',
    o : '{{search.results.sort}}',
    p : 1
  }
};
{{/if}}
</script>
{{/if}} {{! if search.query }}