{{!
	Audio partial
	Loads an audio and includes the player
	Here user is not the logged user, it is the one
	of the audio
}}
	<div
	{{#if big}}
	class="audio {{id}} audio-big"
	{{else}}
	class="audio {{id}}"
	{{/if}}
	>
	<div class="audio-header">
		<a href="{{user.profile_url}}">
			<img class="circle"
			src="{{user.avatar}}"
			onerror="this.src='<?php echo url('assets/img/unknown.png') ?>'"
		{{#if big}}
			height="73"
			width="73"
		{{else}}
			height="48"
			width="48"
		{{/if}}
		>
		</a>
		<span class="audio-user-name">
			<a
			class="no-deco"
			href="{{{user.profile_url}}}"
			>
				{{user.name}}
			</a>
		</span>
		<span class="audio-user-user">
			<a
			class="no-deco"
			href="<?php echo $profile_url ?>"
			>
				@{{user.user}}
			</a>
		</span>
		<span class="audio-date">
			<i class="fa fa-clock-o grey-text lighten-1-text"></i>&nbsp;
			<a
			href="{{audio_link}}"
			class="datetime"
			data-timestamp="{{time}}">
				{{! date will be placed here with javascript }}
			</a>
		</span>
		{{#if is_linked}}
		<div class="chip linked_reply">
			<i class="fa fa-link"></i>&nbsp;
			Linked reply
		</div>
		{{/if}}
	</div>
	{{#if description}}
		<div class="audio-description">
			{{! description comes sanitized }}
			{{{description}}}
		</div>
	{{/if}}
	{{#if player}}{{!if requires player}}
	<div class="audio-play">
		{{get_partial 'player' player}}
	</div>
	{{/if}}
	<div class="audio-footer">
	{{#if player}}{{! if it has a player }}
		<a
		class="audio-btn"
		id="{{id}}"
		title="{{plays_count_text}}" {{! x people played this }}
		>
			<i class="fa fa-headphones"></i>&nbsp;
			<span>
				{{plays_count}} {{! 3k, 1m }}
			</span>
		</a>
	{{/if}}
		<a class="audio-btn
			{{#if user.can_favorite}}
				laic
			{{/if}}
			{{#if favorited}}
				favorited
			{{/if}}"
		data-id="{{id}}"
		title="Mark as favorite">
			<i class="fa fa-star"></i>&nbsp;
			<span>
				{{favorites_count_text}}
			</span>
		</a>
	{{#if player }}{{! if it has a player, it was an audio}}
		<a class="audio-btn"
		      href="{{audio_url}}?>#replies"
		      title="Leave a reply"
		      >
			<i class="fa fa-reply"></i>&nbsp;
			<span>
				{{replies_count_string}}
			</span>
		</a>
	{{/if}}
	{{#if user.can_delete}}
		<a
		href="javascript:void(0);"
		class="audio-btn delit"
		data-id="{{id}}"
		title="Delete this audio"
		>
			<i class="fa fa-times"></i> Delete
		</a>
	{{/if}}
	</div> <!-- .audio-footer -->
	<div class="divider"></div>
</div><!--/ .audio -->